* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banco {
    width: 691px;
    height: 227px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    
    background-color:#6BD1FF  ;
}

.boas-vindas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
}

.saldo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
}