

.banco {
    width: 691px;
    height: 227px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    
    background:var(--gradiente-azul);
    padding-bottom: 12px;
}

.boas-vindas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
}

.saldo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
}
@media screen and (max-width: 71rem) {

  .banco {
    padding: 3rem 1rem;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
  }

  .boas-vindas,
  .saldo {
    width: 70%;
  }

}