

.banco {
     width: 80vw;
    height: 227px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    
    background:var(--gradiente-azul);
    padding-bottom: 12px;
}

.boas-vindas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
}

.saldo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
}
@media screen and  (min-width: 1000px) {

.banco {
    width: 60vw;
}

}

@media screen and  (min-width: 1400px) {

.banco {

     width: 950px;
   
}

}