
<main>
    <section class="container">
        <div>
            <h1>Nova transação</h1>
        </div>
        <div>
            <form action="">
                <div>
                <p>Transação</p>
                <input type="text">
                </div>
                <div>
                    <p>Valor</p>
                     <input type="number">
                     
                </div>
                 <button>Confirmar transação</button>
            </form>
           
        </div>
    </section>
</main>
