


.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;


    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
@media screen and (min-width: 1000px) {
 
.container {
    display: flex;
    flex-direction: row;
    
    
}
    

}


