* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;


    margin-top: 150px;
    margin-bottom: 100px;
    background-color: antiquewhite;

    
    
}