

.container {

     width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    padding-bottom: 32px;
    margin-top: 12px;
    background: var(--fundo-azul-claro);
}
.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    
}


@media screen and  (min-width: 1000px) {

.container {

     width: 60vw;
   
}

}

@media screen and  (min-width: 1400px) {

.container {

     width: 950px;
   
}

}


