
.extrato {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 32px;

    background: var(--fundo-azul-claro);
    padding: 10px;
}
.extrato section {

    display: flex;
    flex-direction: column;
    gap: 8px;
}
.valores {
    display: flex;
    justify-content: space-between;
    
}
@media screen and (min-width: 1000px) {

.extrato {
    width: 20vw;
 
}

}

@media screen and  (min-width: 1400px) {

.extrato {

     width: 300px;
   
}

}


