* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.extrato {
    width: 282px;
    height: 766px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.extrato section {

    display: flex;
    flex-direction: column;
    gap: 8px;
}
.valores {
    display: flex;
    justify-content: space-between;
    
}