<div class="extrato">
        <h2>Extrato</h2>

       <div>
         <p>Novembro</p>
        <p>--------------------</p>
       </div>
        <section >
            <div class="valores">
                <samp>R$-50</samp>
                <p>23/11/2022</p>
            </div>
            <div class="valores">
                <samp>R$50</samp>
                <p>23/11/2022</p>
            </div>
            <div class="valores">
                <samp>R$-100</samp>
                <p>23/11/2022</p>
            </div>
            <div class="valores">
                <samp>R$150</samp>
                <p>23/11/2022</p>
            </div>
        </section>

</div>
