
.extrato {
    width: 282px;
    
    display: flex;
    flex-direction: column;
    gap: 32px;

    background: var(--fundo-azul-claro);
    padding: 10px;
}
.extrato section {

    display: flex;
    flex-direction: column;
    gap: 8px;
}
.valores {
    display: flex;
    justify-content: space-between;
    
}